<body>



<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->

<!-- Page Content -->
    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h2>Real World Fantasy Sports</h2>
            <p>Compete between your friends to see who's the strongest.  We're still testing the concept so please email us your feedback!</p>
            <div class="btn btn-default btn-lg"> 
                <%= link_to 'Sign Up', new_user_registration_path %>
            </div>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <abbr title="Email">Email:</abbr> <a href="mailto:jamesyoun710@gmail.com">jamesyoun710@gmail.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Compete privately</h2>
            <p>Choose to compete privately with your friends</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Public Prizes</h2>
            <p>Join a public group to win recognition from sponsors & viewers alike.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Ranking</h2>
            <p>If you hit a PR and nobody sees it... did it really happen??  See how you measure up to the competition!</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>